# Agent Memory

<a target="_blank" href="https://colab.research.google.com/github/simonguest/CS-394/blob/main/src/03/notebooks/memory.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>
<a target="_blank" href="https://github.com/simonguest/CS-394/raw/refs/heads/main/src/03/notebooks/memory.ipynb">
  <img src="https://img.shields.io/badge/Download_.ipynb-blue" alt="Download .ipynb"/>
</a>

In [1]:
!uv add openai-agents==0.4.2

Resolved 190 packages in 1ms
Audited 157 packages in 0.07ms

## Set the DB folder

In [ ]:
# Create the .data directory for the SQLite db
!mkdir -p .data
SQLITE_DB = "./.data/conversations.sqlite"

## Create the session

In [ ]:
from agents import Agent, Runner, SQLiteSession

agent = Agent(name="Assistant", instructions="Reply very concisely")
session = SQLiteSession("conv_123", db_path=SQLITE_DB)

### Conversation stored in session

In [5]:
result = await Runner.run(agent, "My name is Simon", session=session)
print(result.final_output)

Nice to meet you, Simon!

### Context retrieved from session

In [7]:
result = await Runner.run(agent, "What is my name?", session=session)
print(result.final_output)

Your name is Simon.

### Without session

In [8]:
result = await Runner.run(agent, "What is my name?")
print(result.final_output)

You havenâ€™t shared your name yet.

## Contents of SQLite db

In [11]:
import sqlite3
import pandas as pd

conn = sqlite3.connect(SQLITE_DB)

sessions_df = pd.read_sql_query("SELECT * FROM agent_sessions", conn)
display(sessions_df)

messages_df = pd.read_sql_query("SELECT * FROM agent_messages", conn)
display(messages_df)

conn.close()

  session_id           created_at           updated_at
0   conv_123  2026-01-15 21:39:00  2026-01-15 21:39:37

,id,session_id,message_data,created_at
0,1,conv_123,"{""content"": ""My name is Simon"", ""role"": ""user""}",2026-01-15 21:39:00
1,2,conv_123,"{""id"": ""msg_0f964931c939f4d70069695e75c99c8194...",2026-01-15 21:39:02
2,3,conv_123,"{""content"": ""What is my name?"", ""role"": ""user""}",2026-01-15 21:39:04
3,4,conv_123,"{""id"": ""msg_0f964931c939f4d70069695e7955b88194...",2026-01-15 21:39:05
4,5,conv_123,"{""content"": ""What is my name?"", ""role"": ""user""}",2026-01-15 21:39:36
5,6,conv_123,"{""id"": ""msg_0f964931c939f4d70069695e98f26c8194...",2026-01-15 21:39:37